.course{
    nav{
        overflow-y:hidden;
        overflow-x:auto;
        white-space: nowrap;   
    }
    a{
        padding: 16px 32px;
        border-radius: 8px;
        margin-right: 16px;
        &:hover{
            border-color: $agree-g;
            background-color: transparent;
            color:$agree-g;           
        }
    }
    
    
}

.list{
    .card{
        background-color: $primary;
        border-radius: 24px;
        @include media-breakpoint-up(lg){
            height: 269px;
        }
        .card-footer-button{
            box-sizing: border-box;
        }        
    }
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    a{
        font-size: 18px;
        line-height: 26px;
        border-radius: 8px;
    }
    .button-linear{
        background: linear-gradient(104deg,$agree-b,$agree-g);
        transition:all 0.5s ease;
        &:hover{
            color: black;
            background: linear-gradient(208deg,$agree-b,$agree-g);
        }        
    }
    h5{
        font-size: 20px;
        line-height: 30px;
        @include media-breakpoint-up(lg){
            font-size: 24px;
            line-height: 35px;
        }
    }
}
