.class {
    .card{
        border-radius: 24px;
    }
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .profile-card{
        border-radius: 24px;
        
    }
   
    .p-w35{
        font-size: 16px;
        line-height: 24px;   
        width: 35px;     
    }
    h3{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 16px;
        padding-left: 16px;
    }
    h3::before{
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        width: 2px;
        background-color: $agree-g;        
    }
    .introduction-card{
        border-radius: 24px;
        li{
            position: relative;
        }
        p{
            padding-left: 16px;
        }
        p::before{
            content: '';
            position: absolute;
            left: 0;
            top: 40%;                 
            width: 5px;
            height: 5px;
            background-color: $agree-g;             
        }
    }

    .price{
        .fm-Azeret{
            font-family: "Azeret Mono";   
            font-size: 24px;
            line-height: 28px;
        }
        &-card:hover p{            
            color: $agree-g;
            cursor:pointer;
        }
       
       
        .bggradient{
            background: linear-gradient(180deg,$agree-b,$agree-g);
            padding: 4px 4px;   
        }
        .bggradient:hover{
            background: linear-gradient(0deg,$agree-b,$agree-g);
            color: black;
        }
    }

}  
