// banner
.banner-backimg{
  background-image: url(../../../assets/images/bg_home_mobile.jpg);
  height: 336px;
  width: 100%;
  background-position: center;  
  background-size:contain;  
  background-repeat: no-repeat;
  @include media-breakpoint-up(md){
    height:680px;
    background-size: contain;
    background-position: center;  
  }
  @include media-breakpoint-up(lg){
    background-image: url(../../../assets/images/bg_home.jpg);  

  }
  h1{
    font-size: 24px;
    line-height: 35px;
    @include media-breakpoint-up(md){
      font-size: 36px;
      line-height: 48px;
    }
    @include media-breakpoint-up(lg){
      font-size: 48px;      
      line-height: 70px;
    }
  }
  p{
    font-size: 14px;
    @include media-breakpoint-up(md){
      font-size: 16px;
    }
    @include media-breakpoint-up(lg){
      font-size: 18px;
      line-height: 26px;
    }

}
}

.bg-linear{
  background: linear-gradient(180deg,$agree-b,$agree-g);
  background-clip: text;
  color: transparent; 
  display: inline-block;
   
}
.box10{
  background:#fff;
  width: 10px;
  height: 10px;
}

//feature
.bordertop-agree-g{
  border-top: 3px solid $agree-g;
  width: 50px;
}
.feature{
  
  h2{
    font-size: 24px;
    line-height: 35px;
    @include media-breakpoint-up(md){
      font-size: 28px;
      line-height: 40px;
    }
  }  
  .icon50{
    font-size: 50px;
    line-height: 50px;
  }
  p{
    font-size: 18px;
    line-height: 26px;
  }
  .border-opacity{
    border-color: $primary; 
    background-color: $grey-8;
    border-radius: 12px;
    span{
      background: linear-gradient(180deg,$agree-b,$agree-g);
      background-clip: text;
      color: transparent; 
    }
    @include media-breakpoint-up(lg){
      border-color: $primary; 
      background-color:$primary;
      opacity: 0.5; 
      span{
        color:$white;
      }
      &:hover{
        border-color: $agree-g;
        background-color: $grey-8;
        opacity: 1; 
        span{
          background: linear-gradient(180deg,$agree-b,$agree-g);
          background-clip: text;
          color: transparent; 
        }
      }
    }    
  }
}

// process
.process{
  z-index: 1;
  h2{
    font-size: 24px;
    line-height: 35px;
    @include media-breakpoint-up(md){
      font-size: 28px;
      line-height: 40px;
    }
  }
  h3{
    font-size: 24px;
    line-height: 35px;
  }
  p{
    font-size: 18px;
    line-height: 26px;
  }
  .border-radius12{
    border-radius: 12px;
  }
  .fm-Azeret{
    font-family: "Azeret Mono";
    line-height: 56px;
    z-index: 2;
    background-color:$grey-9;
  }
}


// code 
.code{  
  &-nav{
    overflow-y:hidden;
    overflow-x:auto;
    white-space: nowrap;  
  } 
  .btn-outline-primary{
    color:$white;
    border-color: $white;
  }
  .btn-outline-white{
    background-color: #fff;
  }
  .border-radius12{
    border-radius: 12px;
  }
  h2{
    font-size: 24px;
    line-height: 35px;
    @include media-breakpoint-up(md){
      font-size: 28px;
      line-height: 40px;
    }
  }
  button:hover{
    border-color: $agree-g;
    color: $agree-g;
    background-color: transparent;
  }
}

//recommend
.recommend{
  h2{
    font-size: 24px;
    line-height: 35px;
    @include media-breakpoint-up(md){
      font-size: 28px;
      line-height: 40px;
    }
  }
  .card{
    cursor: pointer;
    
  }
  .card:hover{
    transform:translate(0,-24px);    
    transition: all 0.3s ease-in;
  }
  img{
    width: 100px;
    height: 100px;
  }
  .fm-Azeret{
    font-family: "Azeret Mono";   
  }
  .border-radius24{
    border-radius: 24px;
  }
  .hover-agree-g{
    border: 2px solid $primary;
  }
  .hover-agree-g:hover{
    border-color: $agree-g;     
  }
  .border-radius8{
    border-radius: 8px;
  }
  a{
    background: linear-gradient(104deg,$agree-b,$agree-g);
    transition:all 0.5s ease;
  }
  a:hover{
    color: $primary;    
    background: linear-gradient(208deg,$agree-b,$agree-g);
  }
}

//advantage
.advantage{ 
  h3{
    font-size: 24px;
    line-height: 35px;
  }
  .card-w{
    width: 100%;
    @include media-breakpoint-up(lg){
      height: 615px;
    }    
  }
  .advantage-backimg1{
    background-image: url(../../images/info01.jpg);    
    background-size: cover;
    background-position: center;        
  } 
  .advantage-backimg2{
    background-image: url(../../images/info02.jpg);   
    background-size: cover;
    background-position: center;  
    
  }
  .advantage-backimg3{
    background-image: url(../../images/info03.jpg);
    background-size: cover;
    background-position: center;  
  }
  .advantage-backimg4{
    background-image: url(../../images/info04.jpg);
    background-size: cover;
    background-position: center;  
  }
  .absolute-text{
    background-color: rgba($grey-9,0.9);
    .bordertop-white{
      border-top: 3px solid $agree-g;
      width: 50px;      
    }
    span{
      color: $agree-g;
    }
    p{
      opacity: 0.8;
    }
    @include media-breakpoint-up(lg){
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;      
      transition: all 0.3s ease;
      span,p{
        color:$white ;
        opacity: 0.5;
        transition: all 0.3s ease;
      }
      .bordertop-white{
        border-top: 3px solid $white;
        width: 50px;
        transition: all 0.3s ease;
      }
      &:hover{
        background-color: rgba($grey-9,0.12);
        span,p{
          opacity: 1;
        }
        .bordertop-white{
          border-color: $agree-g;
          width: 70px;
        }
        span{
          color: $agree-g;
        }
      }
    }
  }  
}

// article
.article{
  p{
    font-size: 16px;
    line-height: 24px;
  }
  h5{
    font-size: 18px;
    line-height: 26px;
  }
  a{
    font-size: 18px;
  }
  .h2{
    font-size: 24px;
    line-height: 35px;
    @include media-breakpoint-up(md){
      font-size: 28px;
      line-height: 40px;
    }
  }
  .border-radius24{
    border-radius: 24px;
  }
 
  .border-corner-lt{ 
    width: 32px;
    height: 32px;  
    border-top: 1px solid $agree-g;
    border-left: 1px solid $agree-g;
    border-radius: 24px 0 0 0;   
    display: none;    
  } 
  .border-corner:hover .border-corner-lt{
    display: block;
  }
  .border-corner-rt{  
    width: 32px;
    height: 32px;  
    border-top: 1px solid $agree-g;
    border-right: 1px solid $agree-g;
    border-radius: 0 24px 0 0;
    display: none;
  }
  .border-corner:hover .border-corner-rt{
    display: block;
  }
  .border-corner-lb{  
    width: 32px;
    height: 32px;  
    border-left: 1px solid $agree-g;
    border-bottom: 1px solid $agree-g;
    border-radius:  0 0 0 24px;
    display: none;
  }
  .border-corner:hover .border-corner-lb{
    display: block;
  }
  .border-corner-rb{  
    width: 32px;
    height: 32px;  
    border-right: 1px solid $agree-g;
    border-bottom: 1px solid $agree-g;
    border-radius: 0 0 24px 0;
    display: none;
  }
  .border-corner:hover .border-corner-rb{
    display: block;
  }
}

//share
.share{
  .share-backimg{
    background-image: url(../../../assets/images/bg_share.jpg);
    // width: 100%;
    height: 733px;;
    background-position: center;  
    background-size:contain;  
    background-repeat: no-repeat;
  }
  h2{
    font-size: 24px;
    line-height: 35px;
    @include media-breakpoint-up(lg){
      font-size: 28px;
      line-height: 40px;
    }
  }
  .share-img{
    position: relative;
    padding: 5px;
    @include media-breakpoint-up(lg){
      padding: 10px;
      padding-left: 5px;
      margin-bottom: 48px;
    }
    img{
      border-radius: 24px; 
      width: 100%;   
      top: 0;     
      margin-top:- 5px; 
      @include media-breakpoint-up(lg){        
        margin-top:- 10px;
        margin-left: 5px; 
      }
    }  
    
  }
  .share-img::after{
    content: '';
    position: absolute;
    border: 1px solid white;
    border-radius: 24px;
    width: 98%;
    height: 98%;
    top: 5px;
    left: 0;
    z-index: -1;
  }
  .share-card{
    border-radius: 24px 24px 24px 0;
    position: relative;
    margin-top: 52px;
    padding: 24px;
    margin-bottom: 60px;
    @include media-breakpoint-up(lg){         
      padding: 32px;  
      left: -72px;
      margin-bottom:0;
    }
    img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      top: -40px;
      right: 24px;
      @include media-breakpoint-up(lg){
        width: 100px;
        height: 100px;
        top: -50px;
      }
    }
  }
  h5{
    font-size: 18px;
    line-height: 26px;
  }
  
  span{
    color: $agree-g;
  }
  .swiper-button{
   position:absolute;
    bottom: 10px;
    left: 20%;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include media-breakpoint-up(md){
      left: 35%
    }
    @include media-breakpoint-up(lg){
      left: 25%;
    }
    &-next{
      color: $agree-g;
      position: unset;
      width: 24px;
      height: 24px;    
      margin-bottom: 20px;
    }
    &-next::after{
      content: '';
    }
    &-prev{
      color: $agree-g;
      position: unset;
      width: 24px;
      height: 24px;   
    }
    &-prev::after{
      content: '';
    }
    &-pagination{
      color: $agree-g;
      position: unset;
      width: auto;      
      position: relative;
    }
  } 
  .swiper-pagination-bullet{
    background-color: #62DB54;
    opacity: initial;
    &-active {
      width: 16px;
      border-radius: 100px;
    }   
  }  
}

//join
.join-item{
  border-radius: 24px;
  @include media-breakpoint-up(lg) {    
    height: 176px;
  }
  span{
    font-size: 100px;
    line-height: 80px;
    opacity: 0.5;
  } 
  h2{
    font-size: 24px;
    line-height: 35px;
    @include media-breakpoint-up(md){
      font-size: 28px;
      line-height: 40px;
      text-align: start;
      margin-bottom: 8px;
    }
  }  
  p{
    font-size: 16px;
    @include media-breakpoint-up(md){
      font-size: 18px;
      line-height: 26px;
      text-align: start;
    }
  }  
  button{
    width: 136px;    
    height: 42px;
    border-radius: 8px;
  }
 
}